{% extends 'base.html' %}

{% block css %}
<style>
    .items .panel-footer {
        display: flex;
        justify-content: space-around;
    }
</style>
{% endblock %}
{% block main %}
{% include 'nav.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="items">
                {% for data in page.object_list %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ data.title }}
                    </div>
                    <div class="panel-footer">
                        <div class="time">
                            当前时间：{{ data.time }}

                        </div>
                        <div class="viewcount">
                            阅读量：{{ data.viewcount }}

                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            {{ page.paginator.page_range }}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page.has_previous %}
                    <li><a href="/pagedemo/demo1?page_num={{page.previous_page_number}}">上一页</a></li>
                    {% endif %}
                    {% for page_num in elided_page_nums %}
                    {% if page_num == page.number %}
                    <li class="active"><a href="/pagedemo/demo1?page_num={{page_num}}">{{page_num}}</a></li>
                    {% else %}
                    <li><a href="/pagedemo/demo1?page_num={{page_num}}">{{page_num}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page.has_next %}
                    <li><a href="/pagedemo/demo1?page_num={{page.next_page_number}}">下一页</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}