<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<a href="/pay/alipay/10" >购买10个金币</a>-->
<!--<a href="/pay/alipay/100" >购买100个金币</a>-->
<!--<a href="/pay/alipay/1000" >购买1000个金币</a>-->
<!--</body>-->
<!--</html>-->

{% extends 'base.html' %}

{% block main %}

{% include 'nav.html' %}
<a href="/pay/alipay/10" >购买10个金币</a>
<a href="/pay/alipay/100" >购买100个金币</a>
<a href="/pay/alipay/1000" >购买1000个金币</a>
{% endblock %}